{% extends "main/layout.html" %}
{% block title %}Фото с праздников{% endblock %}
    {% load static  %}
{% block content  %}
<div class="container">
    <h2 class="card-title; text-center">ДНИ РОЖДЕНИЯ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                </div>
                            </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text-center">КОРПОРАТИВНЫЕ ПРАЗДНИКИ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching2" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                </div>
                            </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <h2 class="text-center">СВАДЬБЫ</h2>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControlsNoTouching3" class="carousel slide" data-touch="false" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                    </div>
                                </div>
                            </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                                <div class="col-md-4">
                                    <img src="{% static 'main/images/200x200.gif' %}" class="d-block w-100" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleControlsNoTouching3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControlsNoTouching3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}