{% extends "main/layout.html" %}
    {% block title %}Дополнительные услуги{% endblock %}
    {% load static  %}
{% block content  %}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'main/images/200x200.gif' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Аренда оборудования</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        </div>

        <div class="col-md-4 col-md-push-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'main/images/200x200.gif' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Бронирование залов</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        </div>

        <div class="col-md-4 col-md-push-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'main/images/200x200.gif' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Фото- и видеосъемка</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}