{% extends "staff/layoutStaff.html" %}
{% block title %}Заявка клиента{% endblock %}
    {% load static  %}
{% block content %}
<div class="container"><br>
    <h6>Заявка №: {{ id_app }}</h6>
    <h6>Имя/наименование клиента: {{ nameOfClient }}</h6><br>
    <h6>Номер телефона: {{ phoneOfClient }}</h6><br>
    <h6>Что нужно организовать: {{ kindOfEvent }}</h6><br>
    <h6>Сроки: {{ periodOfPreparation }} </h6><br>
    <h6>Бюджет: {{ budgetOfEvent }} </h6>
</div>


        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <form action ="{% url 'addStatus' %}">
                <h5 class="text-center">Статус организации мероприятия</h5>
<!--                <input class="form-control form-control-lg" type="text" placeholder="Этапы организации мероприятия">-->
<!--                <h5 class="text-center">{{for_id_app}}</h5>-->
                <input type="text" class="form-control" id="title" name="title" placeholder="Этапы организации мероприятия" rows="3">{{title}}</input>
                <br>
                <button type="submit"  class="btn btn-outline-info" style="width: 35%;">Добавить</button>
            </form>
        </div>
</div>
{% endblock %}