{% extends "main/layout.html" %}
{% block title %}Личный кабинет клиента{% endblock %}
    {% load static  %}
{% block content %}
<div class="container">
{% if user.is_authenticated %}
<div class="row">
  <div class="col-md-8">
    <h5 class="text-center">Добро пожаловать, {{ user.username }}</h5>
  </div>
  <div class="col-md-4 col-md-push-4">
    <h5 class="text-right"><a href="{% url 'logout' %}">Выйти</a></h5>
  </div>
</div>
{% endif %}

<!--    <div class="row">-->
<!--        <div class="col-md-8">-->
<!--        {% for application in object_list %}-->
<!--            {% if user.username == application.user %}-->
<!--            <h6>Имя/наименование клиента {{ application.nameOfClient }}</h6>-->
<!--            <br>-->
<!--            <h6>Что нужно организовать {{ application.kindOfEvent }}</h6>-->
<!--            <br>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--            <h6>Сроки</h6>-->
<!--            <br>-->
<!--            <h6>Бюджет</h6>-->
<!--    </div>-->
    <div class="row">
        <div class="col-md-8">
            <h6>Имя/наименование клиента: {{ nameOfClient }}</h6>
            <br>
            <h6>Номер телефона: {{ phoneOfClient }}</h6>
            <br>
            <h6>Что нужно организовать: {{ kindOfEvent }}</h6>
            <br>
            <h6>Сроки: {{ periodOfPreparation }} </h6>
            <br>
            <h6>Бюджет: {{ budgetOfEvent }} </h6>
    </div>

        <div class="col-md-4">
            <h6>Пожелания по заявке</h6>
            <br>
            <h6>Новые пожелания, замечания, уточнения</h6>
            <input class="form-control form-control-lg" type="text" placeholder="Пожелания по заявке">
            <br>
        </div>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
        <h5 class="text-center">Статус организации мероприятия</h5>
        <input class="form-control form-control-lg" type="text" placeholder="Этапы организации мероприятия">
  </div>
</div>
</div>

{% endblock %}