{% extends "staff/layoutStaff.html" %}
{% block title %}Личный кабинет менеджера по работе с клиентами{% endblock %}
    {% load static  %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
<div class="row">
  <div class="col-md-8">
    <h5 class="text-center">Добро пожаловать, {{ user.username }}</h5>
  </div>
  <div class="col-md-4 col-md-push-4">
    <h5 class="text-right"><a href="{% url 'logout' %}">Выйти</a></h5>
  </div>
</div>
{% endif %}
    <br>
    <div class="row">
        <div class="col-md-8">
            <h6>Имя/наименование клиента</h6>
            <br>
            <h6>Основная информация о клиенте</h6>
            <br>
            <h6>Что нужно организовать</h6>
            <br>
            <h6>Сроки</h6>
            <br>
            <h6>Бюджет</h6>
    </div>
        <div class="col-md-4">
            <a href="#" class="card-link">Посмотреть заявку клиента</a>
            <br>
            <a href="#" class="card-link">Посмотреть новые пожелания клиента</a>
            <br>
        </div>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
        <h5 class="text-center">Статус организации мероприятия</h5>
        <input class="form-control form-control-lg" type="text" placeholder="Этапы организации мероприятия">
  </div>
</div>
</div>

{% endblock %}